#header {
    position: sticky;
    top: 0;
    z-index: 10;
   
}
.navbar-dark .navbar-brand {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    
}

.nav-item{
    padding: 0px 10px 0px 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75) !important;
}
.btn {
    padding: 0.375rem 1.25rem !important;
    font-size: 1rem;
    border: 3px solid #31a9e1 !important;
    border-radius: 10.25rem !important;
}

.btn-primary {
    background-color: #37517e !important;
    border: 3px solid;
    border-color: #31a9e1 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color:#31a9e1 !important;
    
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color:lightskyblue !important;
}

/* ================================================================================================== */
#content{
    background-color: #37517e;
}
.contgetstart{
    text-decoration: none;
    border: none !important;
}
#content .container .row{
    display: flex;
    flex-wrap: wrap;
}
.contgetstart .btn-primary {
    background-color: #31a9e1 !important;
    color: white;
}
.contgetstart .btn-primary:hover {
    color: #fff;
    background-color:#209dd8 !important;
    border: none;
}
.home-watch-button {
    text-decoration: none;
    color: white !important;
    padding: 0.5rem;
}
.home-watch-button span:hover{
    color: #7ec1d7;
    cursor: pointer;
}
#content h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#content h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    font-size: 24px;
}

#content .pt-5 {
    padding-top: 5rem !important;
}

#content .img-fluid {
    position: relative;
    animation: bounceAnimation 3s infinite;
}
@keyframes bounceAnimation {
    0%, 100% {
      transform: translateY(0); /* Initial and final position */
    }
    50% {
      transform: translateY(-20px); /* Bouncing position - adjust as needed */
    }
  }

 

  /*=========================================================================================================  */
#clients{
    position: relative;
    text-align: center;
    background-color: #f3f5fa;
    overflow: hidden;
}
#clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

#clients img:hover {
    filter: none;
    transform: scale(1.1);
}

#clients .container{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* ======================================================================================================================== */
#About{
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}


.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}
#About .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    text-decoration: none;
    border: 2px solid #47b2e4;
}
#About .btn-learn-more:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
}

#About .container p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#About .row ul li{
    list-style: none;
}
#About .row ul li i{
   color: #31a9e1;
   padding-right: 0.5rem;
}

/* ================================================================================================================== */
#accordion{
    background-color: #f3f5fa;
    padding: 60px 0;
    overflow: hidden;
}
#accordion .container .row .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}
#accordion .container .row .content p {
    font-size: 15px;
    color: #848484;
}

.accordion-item{
    margin: 0px 0px 30px 0px !important;
   
}
.accordion-button {
    font-size: 1.2rem !important;
    padding: 0.5rem 1.25rem !important;
}
.accordion-button:hover {
   color: #31a9e1;
}

.accordion-button strong{
    padding: 0.8rem;
    color: #31a9e1;
}

/* ================================================================================================================================ */

#skills{
    padding: 60px 0;
    overflow: hidden;
}

#skills .container h3 {
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

#skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
#skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}
#skills .progress .skill .val {
    float: right;
    font-style: normal;
}
#skills .progress-bar-wrap {
    background: #e8edf5;
    height: 10px;
}
#skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #4668a2;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;
}
/* ==================================================================================================================== */

#services{
    padding: 60px 0;
    overflow: hidden;
    background-color: #f3f5fa;
  
}

#services .container .card-body {
    background-color: white;
    border: none !important;
    border-radius: 5px;
    margin: 0px 5px 20px 5px;
    padding: 40px 30px 40px 30px;
    box-shadow: 0px 5px 50px -19px;
    transition: 0.5s;
   
}
#services .container .card-body .card-title {
    color: darkblue; 
}

#services .container .card-body .boicon {
    font-size: xx-large;
    padding-bottom: 25px;
    color:#31a9e1;
}
#services .container .card-body:hover{
    position: relative;
    top: -1px;
    transform: translateY(-10px);
    box-shadow: 2px 0px 50px 10px rgb(142 150 147 / 23%);
   
}
#services .container .card-body:hover h5{
    color:#31a9e1 ;
   
}
/* ========================================================================================================== */

#cta{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../Arsha/img/cta/cta-bg.jpg) fixed center center;
    background-size: cover;
    padding: 120px 0;
}

#cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
#cta p {
    color: #fff;
}

#cta .cta-btn {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#cta .cta-btn:hover {
    background: #47b2e4;
    border: 2px solid #47b2e4;
}
/* =========================================================================================================== */
#portfolio{
    padding: 60px 0;
    overflow: hidden;
}
#portfolio .container .row .col-12 {
    padding-bottom: 20px;
    flex: 0 0 auto;
    width: 100%;
}

.btn-link {
    color: black !important;
    line-height: 1px;
    text-decoration: none !important;
    border: none !important;
}
.btn-link:hover{
    background: #47b2e4;
    color: #fff !important;
}


#portfolio .active{
   background-color:#47b2e4 !important;
   color: white  !important;
 }

.portfolio-img {
    overflow: hidden;
}
.portfolio .portfolio-img img {
    transition: all 0.6s;
}

.portfolio .portfolio-img img:hover{
    transform: scale(1.15);
}
.portfolio .row {
    position: relative;
    bottom: 10px;
 }
 /* ======================================================================================================== */

 #team{
    padding: 60px 0;
    overflow: hidden;
    background-color: #f3f5fa;
 }

 #team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
}
#team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

#team .member .member-info {
    padding-left: 30px;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

#team .member span::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}

#team .member p {
    margin: 10px 0 0 0;
    font-size: 15px;
}

#team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    text-decoration: none   ;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin: 0px 3px 0px 3px;
    background: #eff2f8;
}
#team .member .social a:hover{ 
   background-color: #31a9e1;
}

#team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
#team .member .social a:hover i{
    color: white;
}
#team .container .row .col-lg-6:hover{
    transform: translateY(-10px);
}

#team .container .row .col-lg-6{
    transition: 0.8s;
}

/* ======================================================================================================== */

#pricing{
    padding: 60px 0;
    overflow: hidden;
}

#pricing .box {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}

#pricing h3 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}

#pricing h4 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}

#pricing h4 sup {
    font-size: 28px;
}

#pricing h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}

#pricing ul {
    padding: 20px 0;
    list-style: none;
    color: #4b4646;
    text-align: left;
    line-height: 20px;
}
#pricing ul li {
    padding: 10px 0 10px 10px;
    position: relative;
}



#pricing .row ul li i {
    color:green !important;
    padding-right: 0.5rem;
}

#pricing .buy-btn {
    display: inline-block;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}
.opp{
    background-color: #47b2e4 !important;
    color: white !important;    
}
.opp:hover{
    background-color:#4668a2 !important;
    color: white !important;    
}

#pricing .featured{
    border-top: 4px solid #209dd8;;
}

#pricing .buy-btn:hover {
    background: #47b2e4;
    color: #fff !important;
}

/* ============================================================================================================================= */
#freq-question{
    padding: 60px 0;
    overflow: hidden;
    background-color: #f3f5fa;
}

/* ========================================================================================================================== */

#Contact{
    padding: 60px 0;
    overflow: hidden;
}

#Contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

#Contact .php-email-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

#Contact .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#Contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

#Contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}
#Contact .php-email-form label {
    padding-bottom: 8px;
}

#Contact .php-email-form .form-group {
    margin-bottom: 20px;
}

#Contact .php-email-form button{
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
#Contact .php-email-form button:hover{
    background:#209dd8 !important;
}
/* =================================================================================================== */
#Newsletter{
    padding: 60px 0;
    overflow: hidden;
    background-color: #f3f5fa;
}

#Newsletter form {
    margin: 30px;
    display:flex;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#Newsletter .input{
    border: 0;
    outline: none;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#Newsletter .submit {
    padding: 0px 20px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color:#47b2e4;
}

#Newsletter .submit:hover{
    background-color: #209dd8;
}

/* ========================================================================================================================= */

#footer .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#footer .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    text-decoration: none   ;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin: 0px 3px 0px 3px;
    background: #eff2f8;
}
#footer .social a:hover{ 
   background-color: #31a9e1;
}

#footer .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
#footer .social a:hover i{
    color: white;
}

#footer a{
    text-decoration: none;
    color: #0a58ca;
}

#footer .fs-5 {
    font-size: 2.25rem!important;
}

/* ===================================== footer complete ============================================================== */



